# CFnスタックの名前
export VPC_STACK_NAME='eks-dev-network'
export CONTROLLPLANE_STACK_NAME='eks-dev-controllplane'
export NODEGROUP_STACK_NAME='eks-dev-nodegroup'
export K8S_CLUSTER_ROLENNAME='eksServiceRole'
export K8S_VERSION='1.10'
# EC2インスタンスに設定するSSH鍵
export KEY_NAME='YOUR_KEY_NAME'
# リージョンとk8sバージョンに合わせてAMIを選択する｡
# https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami.html
export NODE_IMAGE_ID='ami-06f4af3742fca5998'
export NODE_VOLUME_SIZE='20'
export NODE_GROUP_NAME='eks-nodegroup-001'